/*Variables*/

:root {

  /* фон  */
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-extra-light: #EEEEEE;
  --footer-color: rgba(255, 255, 255, 0.9);
  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --thin-text: #333333;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --rating-text: #666666;
  --nav-test: #766357;
  --more-hover: #669EC0;
  --more-focus: #5496BD;
  --book-hover: #604E43;
  --book-focus: #503E33;
  --form-field-current: #F2F2F2;
  --form-field-hover: #EBEBEB;
  --border-color: #E5E5E5;
  --logo-current: #231F20;
  --logo-focus: #BDBBBC;
}

/*Global*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--thin-text);
  text-transform: uppercase;
  text-align: center;

  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content 1fr min-content;
  align-content: start;
}

.page-body-catalog {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


/* Grid */

.page {
  height: 100%;
}

/* Навигация по сайту  */

.main-header {

  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;

  width: 1200px;
  height: 56px;
  margin: 0 auto;
  padding: 0;
}

.main-header ul {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
}

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;

  order: 1;
  justify-self: center;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  font-weight: 700;

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;

  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

  outline: 5px solid rgba(197, 32, 54, 0.3);
  outline-offset: -5px;

}

.main-footer {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  padding: 0;

  outline: 5px solid rgba(255, 0, 0, 0.7);

  background-color: var(--footer-color);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* не работает этот класс. текущая ссылка не перекрашивается */
.site-navigation-current {
  color: var(--nav-test);
}


/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Блок с логотипом про Седону  */

.desc {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.desc-lead {
  color: var(--thin-text);
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.desc-pic {
  background: var(--basic-blue) url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/*Список приемуществ*/

.feature-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-blok {
  outline: 5px solid rgba(228, 131, 236, 0.3);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}

.feature-foto-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.feature-foto {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-colum {
  list-style: none;
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-detail {
  outline: 5px solid rgba(236, 233, 12, 0.932);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}

.feature-detail ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  margin-bottom: 80px;
  margin: 0;
  padding: 0;
}

.feature-item-reversing {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.feature-item-about {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.feature-item-about-grey {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--thin-text);
}

.feature-item-about-grey p {
  margin: 0 40px;
}

.feature-item-about p {
  margin: 0 40px;
}

.index-columns {
  background-color: var(--basic-extra-light);
}

.colum {
  background-color: var(--basic-white);
}

/*Блок заинтересовалиь*/

.question {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.seach-form {
  outline: 5px solid rgba(236, 233, 12, 0.932);
  outline-offset: -5px;

  padding: 0;
  width: 568px;
  height: 481px;
  margin: 0 auto;
}

.search-content {
  font-size: 14px;
  line-height: 24px;
  color: var(--thin-text);
}

.search-button {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--nav-test);
  font-weight: 700;
  border: none;
}

.search-button:hover {
  background-color: var(--book-hover);
  color: var(--basic-white);
}

.search-button:active {
  background-color: var(--book-focus);
  color: var(--transparent-white);
}


.search-button-find {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.search-button-find:hover {
  background-color: var(--more-hover);
}

.search-button-find:active {
  background-color: var(--more-focus);
}

.modal {
  text-align: left;
  font-weight: 700;
}

.amount {
  text-align: center;
  background-color: var(--form-field-current);
  border: 2px solid var(--form-field-current);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.appointment-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

/* как сделать, чтобы цвет не приглушался, а оставался чисто черным? */
.box {
  background-color: var(--form-field-current);
  border: 2px solid var(--form-field-current);
  color: var(--basic-black);
  font-weight: 700;
}

.box:hover {
  background-color: var(--form-field-hover);
  border-color: var(--form-field-hover);
}

.box:focus {
  background-color: var(--basic-white);
  border-color: var(--border-color);
  outline: none;
}

.amount:hover {
  background-color: var(--form-field-hover);
  border-color: var(--form-field-hover);
}

.amount:focus {
  background-color: var(--basic-white);
  border-color: var(--border-color);
  outline: none;
}


.copy-logo {
  fill: var(--logo-current)
}

.footer-social {

  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 150px;
  height: 48px;

  justify-self: center;
}

.footer-copyright {
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;

  width: 198px;
  height: 41px;
  margin: 0;
  justify-self: end;
}

/* Main footer */

.footer-contacts {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.footer-social ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

/* social */

.social-button {
  background-color: var(--basic-blue);
  display: block;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: var(--more-hover);
}

.social-button:active {
  background-color: var(--more-focus);
  /* тут надо еще поменять цвет пиктограммы. Как? */
}

.social-button svg {
  fill: var(--basic-white);
}


/* Сделать активность кнопки Академии  */


/* Выбор жилья  */

.seach {
  background-image: url("../img/catalog-fon.jpg");
  background-repeat: no-repeat;
  text-align: left;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.infrastructure-list {
  list-style: none;
}

.infrastructure-item {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

/* Блок сортировки */

.sorting-title {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-blue);
}

.sorting-title a:hover {
  color: var(--basic-blue);
}

.sorting-title a:active {
  color: var(--basic-black);
}

.sorting-price {
  color: var(--basic-blue);
  font-size: 12px;
  line-height: 18px;
}

.sorting-tipe a {
  color: var(--basic-black-opacity);
  font-size: 12px;
  line-height: 18px;
}

.sorting-tipe a:hover {
  color: var(--basic-blue);
  opacity: 100%;
}

.sorting-tipe a:active {
  color: var(--basic-black);
  opacity: 100%;
}

.hotel-more a {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.rating {
  color: var(--rating-text);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
