/*Fonts*/

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}


/*Variables*/

:root {

  /* фон  */
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-extra-light: #EEEEEE;
  --footer: rgba(255, 255, 255, 0.9);


  /* текст  */

  /* основной текст и при состоянии покоя  */
  --basic-black: #000000;

  --thin-text: #333333;
  --basic-white: #FFFFFF;
  --transparent-white: rgba(255, 255, 255, 0.3);

  /* рейтинг  */
  --rating-text: #666666;

  /* активная страница  */
  --nav-test: #766357;


  /* Кнопки*/

  /* подробнее  */
  --basic-blue: #81B3D2;
  --more-hover: #669EC0;
  --more-focus: #5496BD;

  /* забронировать и найти гостиницу */
  --nav-test: #766357;
  --book-hover: #604E43;
  --book-focus: #503E33;

  /* поля формы ввода данных для поиска гостиницы  */

  --form-field-current: #F2F2F2;
  --form-field-hover: #EBEBEB;
  --basic-white: #FFFFFF;
  --border-color: #E5E5E5;


  /*  Логотип академии */
  --logo-current: #231F20;
  --basic-blue: #81B3D2;
  --logo-focus: #BDBBBC;

}

/*Global*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  /* В макете не смогла определить какой размер шрифта основной. Насчитала 8 размеров  */
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


/* Навигация по сайту  */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  color: var(--basic-black);
  font-weight: 700;
}

/* взято из образца
.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}*/


/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Блок с логотипом про Седону  */

.desc {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.desc a {
  color: var(--basic-black);
  text-decoration: underline;
}

.desc-pic {
  background: var(--basic-blue) url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/*Список приемуществ*/

.feature-item-reversing {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-item-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item-about {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.index-columns {
  background-color: var(--basic-extra-light);
}

.colum {
  background-color: var(--basic-white);
}

/*Блок заинтересовалиь*/

.question {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.search-content {
  font-size: 14px;
  line-height: 24px;
  color: var(--thin-text);
}

.search-button {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--nav-test);
  font-weight: 700;
  border: none;
}

.search-button:hover {
  background-color: var(--book-hover);
  color: var(--basic-white);
}

.search-button:active {
  background-color: var(--book-focus);
  color: var(--transparent-white);
}


.search-button-find {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.search-button-find:hover {
  background-color: var(--more-hover);
}

.search-button-find:active {
  background-color: var(--more-focus);

}

.modal {
  text-align: left;
  font-weight: 700;
}

.amount {
  text-align: center;
  background-color: var(--form-field-current);
  border: 2px solid var(--form-field-current);
}

.appointment-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.box {
  background-color: var(--form-field-current);
  border: 2px solid var(--form-field-current);
}

.box:hover {
  background-color: var(--form-field-hover);
  border-color: var(--form-field-hover);
}

.box:focus {
  background-color: var(--basic-white);
  border-color: var(--border-color);
  outline: none;
}

.amount:hover {
  background-color: var(--form-field-hover);
  border-color: var(--form-field-hover);
}

.amount:focus {
  background-color: var(--basic-white);
  border-color: var(--border-color);
  outline: none;
}


.copy-logo {
  fill: var(--logo-current)
}

.footer-social {
  text-align: center;
}


/* Main footer */

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}


/* social */

.social-button {
  background-color: var(--basic-blue);
  display: block;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: var(--more-hover);
}

.social-button:active {
  background-color: var(--more-focus);
  /* тут надо еще поменять цвет пиктограммы. Как? */
}

.social-button svg {
  fill: var(--basic-white);
}


/* Сделать активность кнопки Академии  */
